In [33]:
import pandas as pd
import numpy as np

data = pd.read_csv("/Users/trevormcdonough/Desktop/ET_Project/data-storage/merged_data.csv")
reported_data = data[data['series'] == 'Reported']

casino_openings = {
    'Everett': 2019, 'Springfield': 2018, 'Schenectady': 2017,
    'Clark_County': 2015, 'Cincinatti': 2013, 'Baltimore': 2014,
    'Des_Plaines': 2011, 'Columbus': 2012, 'Oxford': 2012
}

dfs = []

for city, opening_year in casino_openings.items():
    crime_rate_opening_year = reported_data.loc[reported_data['City'] == city, str(opening_year)].values
    crime_rate_3_years_after = reported_data.loc[reported_data['City'] == city, str(opening_year + 3)].values
    
    if len(crime_rate_opening_year) > 0:
        crime_rate_opening_year = crime_rate_opening_year[0]
    else:
        crime_rate_opening_year = None
        
    if len(crime_rate_3_years_after) > 0:
        crime_rate_3_years_after = crime_rate_3_years_after[0]
    else:
        crime_rate_3_years_after = None
    
    df = pd.DataFrame({'City': [city], 'Opening Year': [opening_year], 'Crime Rate Opening Year': [crime_rate_opening_year], 'Crime Rate 3 Years After': [crime_rate_3_years_after]})
    dfs.append(df)

crime_rates_df = pd.concat(dfs, ignore_index=True)

crime_rates_df

,City,Opening Year,Crime Rate Opening Year,Crime Rate 3 Years After
0,Everett,2019,251.0,169.0
1,Springfield,2018,1541.0,1443.0
2,Schenectady,2017,577.0,468.0
3,Clark_County,2015,338.0,261.0
4,Cincinatti,2013,2858.0,2803.0
5,Baltimore,2014,8346.0,12430.0
6,Des_Plaines,2011,61.0,53.0
7,Columbus,2012,4808.0,4758.0
8,Oxford,2012,19.0,20.0